<div>
<% for each (var clazz in classes) { %>
    <p style="color:red"><%= clazz.name %> (<%= clazz.comment %>)</p>

    <% for each (var method in clazz.methods) { %>
        <p style="color:green"><%= method.name %> (<%= method.comment %>)</p>

        <% for each (var parameter in method.parameters) { %>
            <p style="color:blue"><%= parameter.name %> (<%= parameter.comment %>)</p>
        <% } %>
    <% } %>
<% } %>
</div>
